.header {
	display: flex;
	justify-content: center;
	text-align: center;
}

.header-primary {
	display: block;
	color: darken(rgba(114, 208, 248, 0.7), 30%);
	font-weight: 400;
	font-size: 3.5rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	word-wrap: none;
	margin-bottom: 1rem;
	animation: fadeIn 0.5s ease-out;
}

.header-secondary {
	display: block;
	color: darken(rgba(114, 208, 248, 0.7), 30%);
	font-weight: 400;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .75rem;
	word-wrap: none;

	animation: fadeIn 2s ease-out;
}

.header-secondary i {
	font-size: 1.8rem;
}

@media (max-width: 600px) {
	.header-primary {
		font-size: 2rem;
	}
	.header-secondary {
		font-size: 1.2rem;
		letter-spacing: .7rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
