.border {
	border: 1px solid rgb(114, 208, 248);
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	background: rgba(114, 208, 248, 0.8);
	width: 40rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform .2s ease-in-out;

	animation: moveInLeft 0.75s ease-out;
}

.legislator-container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	color: #fff;
	line-height: 1.7;
	letter-spacing: .5rem;
	font-size: 1.4rem;
	margin-bottom: 3rem;
}

@media (min-width: 600px) {
	.border {
		margin-top: 3rem;
		width: 50rem;
	}
}

@media (min-width: 900px) {
	.border:hover {
		transform: scale(1.1);
		transition-timing-function: ease-out;
		transition: .75s;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	}

	.border::after {
		content: '';
	}

	.border:hover::after {
		transform: scale(1);
		transition-timing-function: ease-out;
		transition: .75s;
	}
}

@media (max-width: 840px) {
	.legislator-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.border {
		margin-bottom: 1rem;
		width: 70vw;
	}
}

@media (max-width: 600px) {
	.legislator-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.border {
		margin-bottom: 1rem;
		width: 90vw;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.legislatorContainer img {
	height: 20rem;
	margin: 1rem 0;
	border-radius: 3px;
}

.legislator-container hr {
	border-top: white;
}
