#map-container {
	position: 'absolute';
	top: 0;
	bottom: 0;
	height: 70vh;
	width: 75vw;
	border-radius: 10px;
}
.mapbox-container {
	display: flex;
	justify-content: center;
}

@media (max-width: 600px) {
	#map-container {
		position: 'absolute';
		top: 0;
		bottom: 0;
		height: 50vh;
		width: 90vw;
	}
}
